#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  color: var(--custom-dark-blue);
  border-radius: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-wrapper {
  background-color: var(--custom-white);
  width: 40rem;
  padding: 3rem 2rem 1.5rem 2rem;
  border: 2px solid var(--custom-blue);
  border-radius: 5px;

}

.selector-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.radio-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: larger;
}

.radio-label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 7rem;
  height: 7rem;
  max-height: 7rem;
  padding: 1rem;
  background-color: var(--custom-light-blue);
  border-radius: 5px;
  font-weight: 600;
}

.radio-label-checked {
  outline: solid 2px var(--custom-blue);
}

.radio-label:hover {
  background-color: var(--custom-light-blue-hover);
}

.radio-input {
  display: none;
}

.radio-button-wrapper {
  display: flex;
  justify-content: space-around;
  border: none;
  margin-bottom: 2rem;
}

.pagination-button {
  background-color: var(--custom-blue);
  color: var(--custom-white);
  height: 2.5rem;
  padding: 0rem 1rem 0rem 1rem;
  font-size: large;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.pagination-button:hover {
  background-color: var(--custom-blue-hover);
}

.button-disabled {
  pointer-events: none;
  color: var(--custom-white);
  background-color: #77a4e0;
}

.back-arrow {
  rotate: 180deg;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.message {
  height: 2rem;
  padding-top: 0.5rem;
  color: red;
}

.contact-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-items: start;
  align-items: center;
  padding: 2rem 3rem 0rem 3rem;
  margin-bottom: 3rem;
}

.input-contact {
  background-color: white;
  caret-color: black;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  width: 20rem;
  height: 2.5rem;
  font-size: medium;
  padding-left: 0.5rem;
}

.input-contact:focus {
  outline: 2px solid var(--custom-blue);
}

.phone-input-wrapper {
  display: flex;
  align-items: center;
  height: 2.5rem;
  width: 20rem;
  background-color: white;
  border: 1px solid #CCCCCC;
  padding-left: 0.5rem;
  border-radius: 5px;
}

.phone-input-wrapper:focus-within {
  outline: 2px solid var(--custom-blue);
}

.prefix {
  color: gray;
  font-size: 16px;
  margin-right: 5px;
}

.input-phone {
  border: none;
  outline: none;
  font-size: medium;
  caret-color: black;
}
